<h1>Esercitazione Anagrafica</h1><h3>Dati e Frequenze</h3>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv

%matplotlib inline

plt.style.use('fivethirtyeight')
plt.rc('figure', figsize=(5.0, 2.0))

players = pd.read_csv(r'/home/pippozord/Scrivania/Statistica/2023/superhero-datascience/content/data/Anagrafica.csv', sep=" ", index_col=0);
players

              ETA  PESO  ALTEZZA  SESSO
NOME
Giocatore1     47    76      170      2
Giocatore2     81    75      170      2
Giocatore3     75    70      168      1
Giocatore4     75    72      178      2
Giocatore5     49   130      182      2
...           ...   ...      ...    ...
Giocatore430   48    95      180      2
Giocatore431   39   101      186      2
Giocatore432   54    72      180      2
Giocatore433   64    85      170      2
Giocatore434   43    98      167      1

[434 rows x 4 columns]

In [18]:
age = players["ETA"].value_counts()
age

70    16
64    16
71    15
72    15
60    14
      ..
92     1
32     1
94     1
93     1
35     1
Name: ETA, Length: 62, dtype: int64

Calcolo le frequenze assolute dell'età

In [31]:
players_abs_age = pd.crosstab(index=players["ETA"], columns=["Abs. Freq"], colnames=[""])
players_abs_age.head(15)

     Abs. Freq
ETA
32           1
34           1
35           1
36           2
39           3
40           1
41           2
42           1
43           3
44           5
45           7
46           4
47           4
48           8
49           7

Calcolo le frequenze relative dell'età

In [49]:
players_rel_freq = pd.crosstab(index=players['ETA'], columns=["Rel Freq"], colnames=[""], normalize=True)
players_rel_freq

     Rel Freq
ETA
32   0.002304
34   0.002304
35   0.002304
36   0.004608
39   0.006912
..        ...
92   0.002304
93   0.002304
94   0.002304
98   0.002304
100  0.002304

[62 rows x 1 columns]

In [67]:
players_rel_freq.apply(lambda x: np.round(x*100, 2)).astype(str).apply(lambda p: p+'%')

    Rel Freq
ETA
32     0.23%
34     0.23%
35     0.23%
36     0.46%
39     0.69%
..       ...
92     0.23%
93     0.23%
94     0.23%
98     0.23%
100    0.23%

[62 rows x 1 columns]

In [92]:
players_rel_freq['Rel Freq'] = players_rel_freq['Rel Freq'].apply(lambda x : "{}{}".format(round(x*100, 2), "%"))
players_rel_freq

    Rel Freq
ETA
32     0.23%
34     0.23%
35     0.23%
36     0.46%
39     0.69%
..       ...
92     0.23%
93     0.23%
94     0.23%
98     0.23%
100    0.23%

[62 rows x 1 columns]